/*** sidebar styles ***/
.sidebar {
  color: white;
  max-width: 240px;
  padding: 10px;
  width: 240px;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}

.sidebar-overlay {
  background-color: rgba(0,0,0,0);
}

.sidebar-counter-text {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: -1;
}

.sidebar-message-text {
  position: absolute;
  top: 15px;
  left: 10px;
  right: 10px;
  height: 160px;
  overflow: hidden;
}

.sassy-girl {
  left: 100%;
  transform: translateX(-150px);
}
.logo {
  margin: 10px 0 10px 0;
}
/*** Countdown styles ***/
.countdown {
  position: absolute;
  font-family: 'chunkfive', sans-serif;
  left: 50%;
  top: 50%;
  color: white;
  font-size: 8em;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 5;
}

.countdown-leave {
  opacity: 1.0;
}

.countdown-leave.countdown-leave-active {
  opacity: 0;
  transform: scale(2.0, 2.0) translate(-25%, -25%);
  transition: all 0.8s ease-out;
  transition-delay: 0.2s;
}

/*** thankyou screen styles ***/
.ty-bg {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;

  transition: all 1s;

}

.ty-msg {
  width: 100%;
  height: 150px;
}

.ty-msg h1 {
  font-size: 44px;
  margin: 10px;
}

.ty-msg h2 {
  font-size: 32px;
  margin: 10px;
  color: #98def5;
}

.ty-img {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.ty-social {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 350px;
}

.ty-social h1 {
  font-size: 32px;
}

.ty-social h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 15px;
  color: red;
}

.ty-social-img {
  width: 64px;
  height: 64px;
}
