/*** FONTS ***/
@font-face {
    font-family: 'chunkfive';
    src: url('../fonts/chunkfive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefinsans/josefinsans-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefinsans/josefinsans-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*** BASE HTML Styles ***/

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #000;
  font-size: 32px;
  line-height: 1.2;
}

/*** TEXT Styles ***/
.text-highlight {
  color: #98def5;
}

.text-label {
  font-weight: lighter;
}

.text-bold {
  font-weight: lighter;
}

/*** Alignment classes ***/
.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center.middle {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.middle.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.align-right {
  position: relative;
  right: 0;
}

.align-left {
  position: relative;
  left: 0;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.align-top {
  position: relative;
  left: 0;
}

.text-center {
  margin: 10px 0 10px 0;
}
